.aboutMe{
    &__description{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 25px;
    }

    &__title--one{
        order: 1;
    }

    &__text{
        order: 3;
        text-align: center;
    }

    &__img{
        order: 2;
        width: 250px;
    }

    &__tech{
        width: 100%;
        background-color: $font-color;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__title--three{
        margin-top: 35px;
        margin-bottom: 20px;
        color: $body-color;
    }

    &__list{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 15px;
        margin: 30px 30px 85px 30px;
    }

    &__item{
        background-color: $hover-color;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70px;
        height: 70px;
        border-radius: 50px;
        transition: transform 0.5 2s;
        &:hover{
            transform: scale(1.06);
        }
    }

    &__logo{
        width: 2.5rem;
    }

    &__skills{
        width: 100%;
        background-color: $font-color3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    &__skillList{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 40px;
        margin: 30px 30px 90px 30px;
    }

    &__skill{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__title--two{
        margin-top: 35px;
    }

    &__icon{
        font-size: 30px;
        color: $font-color2;
    }
}

// WAVES FROM https://www.shapedivider.app/

// Wave bottom 
.custom-shape-divider-bottom-1676289003 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1676289003 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 52px;
}

.custom-shape-divider-bottom-1676289003 .shape-fill {
    fill: $font-color;
}


// Wave top
.custom-shape-divider-top-1676289913 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1676289913 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 52px;
}

.custom-shape-divider-top-1676289913 .shape-fill {
    fill: $body-color;
}


///////////////////// MEDIAQUERIES /////////////////////////

@media screen and (min-width:768px){
    .aboutMe{

        &__description{
            margin: 35px 25px 25px 25px;
        }

        &__title--one, &__title--three{
            font-size: 30px;
        }

        &__title--two, &__title--three{
            font-size: 25px;
        }

        &__title--one{
            margin-top: 50px;
        }

        &__text{
            font-size: 20px;
            margin-left: 55px;
            margin-right: 55px;
        }
    
        &__img{
            width: 400px;
        }

        &__list{
            margin: 30px;
            gap: 25px;
        }

        &__item{
            width: 80px;
            height: 80px;
        }

        &__logo{
            width: 2.9rem;
        }

        &__skillList{
            margin: 30px 60px 90px 60px;
        }

        &__skill{
            font-size: 16px;
        }
    }

    .custom-shape-divider-bottom-1676289003 svg, .custom-shape-divider-top-1676289913 svg{
        width: calc(100% + 1.3px);
        height: 50px;
    }
}

@media screen and (min-width:1024px){
    .aboutMe{

        &__description{
            height: 70%;
            width: 968px;
            margin-top: 80px;
            margin-left: auto;
            margin-right: auto;
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-content: center;
            align-content: center;
            justify-items: center;
            align-items: center;
        }

        &__title--one{
            grid-row: 1 / 2;
            margin-top: 0px;
            margin-bottom: 0px;
        }

        &__text{
            font-size: 19px;
            grid-row: 2 / 3;
            align-self: start; 
        }
    
        &__img{
            grid-row: 1 / 3;
            grid-column: 2 / 3;
            justify-self: center;
            width: 500px;
        }

        &__tech{
            height: 270px;
        }

        &__title--three{
            margin-top: 0px;
            margin-bottom: 10px;
            font-size: 25px;
        }

        &__list{
            margin: 20px;
            gap: 25px;
        }

        &__item{
            width: 60px;
            height: 60px;
        }

        &__logo{
            width: 2.4rem;
        }

        &__skillList{
            margin: 40px 230px 70px 230px;
        }

        &__skill{
            font-size: 18px;
        }
    }
}