.aboutMe{
    
    &__description{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 25px;
    }

    &__title--one{
        order: 1;
    }

    &__text{
        order: 3;
        text-align: center;
    }

    &__img{
        order: 2;
        width: 250px;
    }

    &__tech{
        background-color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__title--two{
        margin-top: 20px;
        margin-bottom: 20px;
        color: $body-color;
    }

    &__list{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 15px;
        margin: 30px 30px 85px 30px;
    }

    &__item{
        background-color: $body-color;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70px;
        height: 70px;
        border-radius: 50px;
        transition: transform 0.5 2s;
        &:hover{
            transform: scale(1.06);
        }
    }

    &__logo{
        width: 2.5rem;
    }
}

//////////////////////////////////////////////

@media screen and (min-width:768px){
    .aboutMe{
        height: 100vh;

        &__description{
            height: 65%;
            margin: 0px;
        }

        &__title--one, &__title--two{
            font-size: 30px;
        }

        &__title--one{
            margin-top: 50px;
        }

        &__text{
            font-size: 20px;
            margin-left: 55px;
            margin-right: 55px;
        }
    
        &__img{
            width: 400px;
        }

        &__tech{
            height: 35%;
        }

        &__list{
            margin: 30px;
            gap: 25px;
        }

        &__item{
            width: 80px;
            height: 80px;
        }

        &__logo{
            width: 2.9rem;
        }
    }
}

@media screen and (min-width:1024px){
    .aboutMe{
        height: 100vh;

        &__description{
            height: 70%;
            width: 968px;
            //margin-top: 40px;
            margin-left: auto;
            margin-right: auto;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 50px 250px;
            justify-content: center;
            align-content: center;
            justify-items: center;
            align-items: center;
        }

        &__title--one{
            grid-row: 1 / 2;
            margin-top: 0px;
            margin-bottom: 0px;
        }

        &__text{
            font-size: 19px;
            grid-row: 2 / 3;
            margin-left: 40px;
            margin-right: 40px;
        }
    
        &__img{
            grid-row: 1 / 3;
            grid-column: 2 / 3;
            justify-self: flex-start;
            margin-left: 10px;
            width: 450px;
        }

        &__tech{
            height: 30%;
        }

        &__title--two{
            margin-bottom: 10px;
            font-size: 25px;
        }

        &__list{
            margin: 10px;
            gap: 25px;
        }

        &__item{
            width: 60px;
            height: 60px;
        }

        &__logo{
            width: 2.4rem;
        }
    }
}