@import 'variables';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

body, button, input, textarea {
    font-family: $main-font;
    font-size: $font-normal;
}

body{
    background-color: $body-color;
    color: $font-color;
}

h1, h2, h3{
    font-weight: $font-semi-bold;
}

button{
    cursor: pointer;
    border: none;
    outline: none;
}

img{
    max-width: 100%;
    height: auto;
}